.simple-highlight-box {
	background-color: #000000;
}

pre.simple-highlight {
	font-family: Monaco, Courier, monospace, "lucida console";
	font-size: 15px;
	color: #ffffff;
	line-height: 20px;
	vertical-align: text-top;
}

pre .line {
	float: left;
	width: 35px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 10px;
	padding-left: 0px;
}

pre .line .linenum {
	background-color: #073642;
	color: #93A1A1;
	text-align: right;
	width: 35px;
	padding-right: 10px;
}

pre .line .firstline{
	padding-top: 20px;
}

pre .line .lastline {
	padding-bottom: 20px;
}

pre .code {
	float: left;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 10px;
	padding-left: 5px;
}

pre .clear {
	clear: both;
}

pre .quote {
	color: #d9b611;
}

pre .number {
	color: #ff1100;
}

pre .keyword {
	color: #177CB0;
}

pre .comment {
	font-style: italic;
	font-family: Menlo, Monaco, "Andale Mono", "Courier New";
	color: #549688;
}
